.egzxvld4{
    background-color: #00203FFF;
    color: white;
}
.e16nr0p30{
    color: white;
}
.exg6vvm15{
    border: solid rgb(16, 211, 211) 6px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.euu6i2w0{
    color: rgb(255, 255, 255);

}

.edgvbvh10{
    border-radius: 60px;
    text-align: center;
    margin: 2%;
    height: 4rem;
    width: 10rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: double rgb(16, 211, 211) 2px;
    color: rgb(16, 211, 211);
    font-weight: bolder;
}

.edgvbvh10:hover{
    background-color: rgb(16, 211, 211);
    color: darkblue;
    cursor: pointer;
}

/*ADEFD!FF*/
.e1fqkh3o3{
    background-color: rgb(74, 130, 191);
}

.e8zbici2{
    background-color: #ADEFD1FF;
}

.e16nr0p31{
    color: white;
}
h1{
    color: white;
}

p1{
    color: white;
}
.egzxvld5{
    background-color: #ADEFD1FF;
}
.e16nr0p34{
    color: white;
}